@import "tailwindcss";

@font-face {
    font-family: "DingTalk";
    src: url("../fonts/DingTalk_JinBuTi.ttf");
}
@theme {
    --font-DingTalk: "DingTalk";
    --color-mainTitleW: "#1A1A1A";
}

:root {
    border-radius: 12px;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
}
